@import '../../_assets/varabile/varabile.scss';
.partnerLayout{
    padding: 4rem;
    max-width: 1300px;
    margin: 0 auto;
    h1{
        text-align: center;
        padding: 2rem 0;
        color: $blue;
    }
    article{
        display: flex;
        justify-content: space-between;
        width: 40%;
        margin: 0 auto;
        figure{
            width: 45%;
        }
    }
}

@media (max-width: 800px){
    .partnerLayout{
        article{
            width: 85%;
        }
    }
}

@media (max-width: 450px){
    .partnerLayout{
        article{
            width: 100%;
        }
    }
}